---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
        <div>
        {% if page.link %}<a href="{{ page.link }}" target="_blank" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a>{% endif %}
        {% if page.collection == 'publications' %}
          {% if page.pdf %}<a href="{{ page.pdf }}" target="_blank" class="btn btn--danger">PDF</a>{% endif %}
          <a href="#bibtex-popup" id="bibtex" class="btn btn--info">BibTeX</a>
          {% if page.repository %}
            <a href="{{ page.repository }}" target="_blank" class="btn btn--inverse">
              {% if page.repository contains 'https://github.com' %}
              <i class="fab fa-github" aria-hidden="true"></i>
              {% endif %}
              Repository
            </a>
          {% endif %}
        {% endif %}
        </div>
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    <div class="page__related">
      <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
          {% if post.id == page.id %}
            {% continue %}
          {% endif %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% if page.collection == 'publications' %}
<div id="bibtex-popup" class="popup mfp-with-anim mfp-hide">
{%- assign lcb = '{' %}
{%- assign rcb = '}' %}
{% capture newline %}
{% endcapture %}
{% capture cnl %},
{% endcapture %}
{%- assign authors = page.bibtex.author | join: ' and ' %}
{%- assign year = page.date | date: '%Y' %}
{%- assign month = page.date | date: '%b' %}

{%- assign bibtex = '@' | append: page.bibtex.type | append: lcb | append: page.bibtex.id | append: cnl %}
{%- assign bibtex = bibtex | append: '  author = ' | append: lcb | append: authors | append: rcb | append: cnl %}
{%- for field in page.bibtex %}
  {%- if field[0] == 'type' or field[0] == 'id' or field[0] == 'author' %}
    {%- continue %}
  {%- endif %}
  {%- assign bibtex = bibtex | append: '  ' | append: field[0] | append: ' = ' | append: lcb | append: field[1] | append: rcb | append: cnl %}
{%- endfor %}
{%- assign bibtex = bibtex | append: '  year = ' | append: lcb | append: year | append: rcb | append: cnl %}
{%- assign bibtex = bibtex | append: '  month = ' | append: month | append: cnl %}
{%- assign bibtex = bibtex | append: rcb | append: newline %}

{% highlight bibtex linenos %}
{{ bibtex }}
{% endhighlight %}
  <button id="bibtex-button" type="button" class="btn btn--primary" style="width:100%" data-bibtex="{{ bibtex }}">Copy to Clipboard</button>
</div>
{% endif %}
